:root {
    --lot-global--purple: #890070;
    --lot-global--green: #789c1e;
    --lot-global--blue: #1e8098;
    --lot-global--yellow: #ffb400;
    --lot-global--red: #ff0016;
    --lot-global--grey: #333333;
    --pf-global--primary-color--100: var(--lot-global--blue);
    --pf-global--primary-color--200: var(--lot-global--grey);
    --pf-global--primary-color--dark-100: var(--lot-global--grey);
}
