a, .login-pf a:hover {
    color: var(--lot-global--blue);
}

.login-pf body {
    background: url("../img/LOT_SSO_BG_v002.png") no-repeat center center fixed;
}

div.kc-logo-text {
    background-image: url(../img/LOT_SSO_Logo_v001-small.png);
    height: 96px;
    width: 300px;
}

#kc-info-wrapper {
    font-size: 16px;
}
